extends layout

block content
 .container.mt-4.px-0
    each news in news_list
      .card.border-secondary.mb-3
        .card-header #{news.date_yyyy_mm_dd}
        .card-body
          .row
            .col-4.px-0
              img.img-thumbnail(src=news.imgUrl, alt='Image', style="max-width:100%;")
            .col.px-2
              .text-dark
                a(href=news.url, style='text-decoration: none; color: inherit;') #{news.heading}

    button.btn.btn-dark
      a(href='/news/create', style='text-decoration: none; color: inherit;') Add News