extends layout

block content
  h4.mt-4= title

  p Do you really want to delete this news?

  form(method='POST' action='')
    button.btn.btn-danger(type='submit') Delete
    a.btn.btn-secondary(href="#{news.url}") Cancel