extends layout 

block content 

  ul 
    each news in news_list 
      li 
        | #{news.date_yyyy_mm_dd} 
        | #{news.summary}
        | #{news.imgUrl}
        | #{news.content}

  form(action='', method='POST')
    button.btn.btn-primary Add News