extends layout

block content

  h4.mt-4= title
  form(method='POST' action='/add_news')
    .form-group
      .input-group-prepend
        span.input-group-text Date
        input#date.form-control(type='date' name='date' value=today required='true')
    .form-group
      textarea.form-control(rows=3 placeholder='News heading...' name='summary' required='true')
    .form-group
      .input-group-prepend
        span.input-group-text Image URL
        input#imgUrl.form-control(type='text' placeholder='https://example.com/...' name='imgUrl')
    .form-group
      textarea.form-control(rows=8 placeholder='News content...' name='content' required='true')
    .form-check
      input.form-check-input(type='checkbox' name="publish")
      label.form-check-label(for="publish") Publish
    div.text-center
      button.btn.btn-primary.mt-2(type='submit') Submit

if errors
  ul
    for error in errors
      li!= error.msg